{# templates/user/notifications.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
<h1>Hello, {{ user_first_name }}!</h1>
<p>У вас новых уведомлений: {{ notifications|length }}</p
{% endblock  %}